@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Besley', serif;
}

.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    min-width: 350px;
}

h1{
    text-align: center;
}

.color-theme{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    font-weight: 600;
}

/* Dark mode switch styling */

input[type="checkbox"]{
    border: 1px solid hsl(223,50%,30%);
    cursor: pointer;
    border-radius: 20px;
    width: 50px;
    height: 20px;
    -webkit-appearance: none;
    background: hsl(223,50%,87%);
    outline: none;
    transition: ease-in-out 0.2s;
}

input:hover[type="checkbox"]{
    background: hsl(223,50%,70%);
}

input:checked[type="checkbox"]{
    background: hsl(223,50%,30%);
}

input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 2.5px;
    left: 12px;
    background: #fff;
    transition: ease-in-out 0.2s;
}

input:checked[type="checkbox"]:before{
    left: 40px;
}

/* Read unread switch styling */
#readStatus{
    border: 1px solid #fff;
    background: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%);
}

#readStatus::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 2px;
    left: 3px;
    background: #fff;
    transition: ease-in-out 0.2s;
}

#readStatus:checked{
    background: linear-gradient(135deg, rgba(24, 77, 104, 0.8) 0%, rgba(87, 202, 133, 0.8) 100%);
}

#readStatus:checked::before{
    left: 32px;
}

/* Book count box */
.book-count{
    border: 1px solid rgba(24, 77, 104, 0.8);
    margin-top: 30px;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: rgba(24, 77, 104, 0.8);
}

h2{
    text-decoration: underline;
}

li{
    list-style-type: none;
}

/* Section styling */
section{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-height: 400px;
}

.order-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    min-width: 330px;
    height: 90px;
}

select{
    width: auto;
    border: rgba(61, 156, 204, 0.8);
    border-radius: 10px;
}
.read-notread{
    margin-top: 10px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.status{
    display: flex;
    align-items: center;
}

.read{
    margin-right: 10px;
    height: 20px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(24, 77, 104, 0.8) 0%, rgba(87, 202, 133, 0.8) 100%);
}

.notread{
    margin-right: 10px;
    height: 20px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%);
}

/* single book styling */
.single-book{
    position: relative;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(24, 77, 104, 0.8) 0%, rgba(87, 202, 133, 0.8) 100%);
}

.single-book button{
    position: absolute;
    top: 2px;
    right: 10px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.616);
    font-size: 18px;
    transition: ease-in-out 0.2s;
}

.single-book button:hover{
    cursor: pointer;
    transform: rotate(90deg) scale(1.5);
    color: rgba(255, 255, 255, 1);
}

.single-book input{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.single-book h2{
    text-align: center;
}